node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma
automation
dist
/src/clients/TaskStream/recipes/*
PortalWorks.zip
*.zip
test-results
allure-report
coverage

src/tenants/**
Containers/volumes/logs/**